/*CSS de pagina 7  */
.wrapper {
  margin : 0 auto;
  width: 80%; /*porcentaje de la pantalla navegador*/
}

.videowrapper7  { /*PAGINA 2*/
  position: relative;
  padding-bottom: 28%; /*16:9*/
  padding-top: 0 ;
  height: 0;
  z-index: 10;   /*POSICION ADELANTE O ATRAS CAPAS (- ES ATRAS + ES ADELANTE */
}
 
.videowrapper7 iframe { /*PAGINA 2*/
  position:absolute ;
  left :30%;
  top: 90%;
  right: 0 ; /*posicion video */
  bottom: 0;
  width: 40%;  /*recorte horizontal y vertical de cuadro imagen*/
  height: 81%;
  cursor: none;
  pointer-events: none; 
}


#vidtop-content {
	top: 0;
	color: #fff;
}

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}

    
@media all and (max-width: 600px) { 
    .vid-info .acronym {
        display: none;
    } /* HACE QUE LOS CONTROLES E INFO DEL VIDEO NO SE VEAN ( SOLO SE VEN EL PRIMER SEGUNDO DE REPRODUCCION ) */
} /*CONFIGURACION VIDEO principal páginas  */


img:hover {
    cursor: pointer;
  }
  
  #fondopaginas {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: none; /*desaparece el cursor donde no se clickea */
    z-index: -100;  /*hace que este atras el fondo*/
  }
  
  #angel {   /* simbolo a index */
    position: fixed;
    left: 85%;
    top: 7% ;
    width: 160px; 
    height: 200px;
    background: transparent;
    z-index: 90;
  } 

  #angelcaido {
    position: fixed;
    left: 80%;
    top: 80% ;
    width:200px; 
    height: 300px;
    background: transparent;
    z-index: 90;
    pointer-events: none;
  
  }


#iphone {
  position: fixed;
  left: 0%;
  top: 0% ;
  width: 250px; 
  height: 500px;
  background: transparent;
  z-index: 90;
  pointer-events: none;

}
#poesiacompleta {   /* simbolo a index */
  position: fixed;
  left: -10%;
  top: -5% ;
  width: 900px; 
  height: 800px;
  background: transparent;
  z-index: 90;
  pointer-events: none;
} 


  #gif-click { /* abstract gif*/
    position: absolute;
    width: 40%;
    height:60%;
    top:20%;
    left:30%;
    display: inline-block;
    z-index: 2;
  }
  
  #click { /* imagen titulo que activa y desactiva abstract*/
    position: absolute;
    width: 35%;
    height:12%;
    top:20%;
    left:33%;
    background: transparent;
    font-weight: bold;
    z-index: 2;
  }
  
  
  
  #paginauno {   /* simbolo a pagina dos posicionamiento */
    position: fixed;
    bottom: calc(95% - 300px) ;
    left: 38%;
    width: 320px;
    height: auto;
    background: transparent;
    z-index: 100;
  }
  
  #paginados {   /* simbolo a pagina dos posicionamiento */
    position: fixed;
    bottom: calc(65% - 300px) ;
    left:14%;
    width: 250px;
    height: auto;
    background: transparent;
    z-index:100;
  }
  
  #paginatres {   /* simbolo a pagina dos posicionamiento */
    position: fixed;
    bottom: calc(60% - 300px) ;
    left:70%;
    width: 200px;
    height: auto;
    background: transparent;
    z-index:100;
  }
  
  
  
  
  /*a:active {
    color: purple;
  }
  
  a:hover {
    color: blue;
  }
  
  #eros {
    width: 3.2em;
  }
  
  #thanatos {
    width: 5em;
  }
  
  header {
    top: 0; right: 0; bottom: 0; left: 0;
    height: 80px;
    position: fixed;
  }
  
  .button {
    justify-content: center;
    display: flex;
    background-color: transparent; /* Green */
  /*  border: none;
    color: white;
    padding: 320px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  /*.button1 {
    height: 350px;
    width: 350px;
    position: fixed;
    color: rgb(255, 255, 255);
    left: 0 px;
    cursor: pointer;
  }
  
  /*.button1 > a {
    margin-left: -30px;
    cursor: pointer;
  }
  
  /*.button2 {
    height: 20%;
    width: 10%;
    position: fixed;
    background-color: transparent; 
    color: black; 
    right: 0px;
    cursor: pointer;
  } */
  
  /*iframe {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -5;
  }
  
  #iframe-left {
    left: 0;
  }
  
  #iframe-right {
    left: 50%;
  }       
  